/* #app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;


  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* Custom styles */
.slider-item {
  height: 100vh; /* Ensure that each slide takes up the full height of the viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.slick-slide {
  /* Optional: You can add custom transitions or animations here */
  transition: transform 0.5s ease-in-out;
}

.slick-prev,
.slick-next {
  z-index: 10; /* Ensure the navigation arrows are above the slides */
}

.slick-dots {
  bottom: 20px;
  z-index: 10;
}
